<!-- start custom head snippets -->
<title>Letisia's Technology Portfolio</title>
<link rel="icon" type="image/png" href="https://res.cloudinary.com/louiy9obu/image/upload/v1620114250/favicon_kpiw4q.png">

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<meta property="og:title" content="Letisia's Technology Portfolio" />
<meta property="og:url" content="https://letisiapangataa.github.io" />
<meta property="og:image" content="{{ site.url }}{{ page.image }}" />
<meta property="og:type" content="website" />

{% if page.image %}
<meta name="twitter:card"  content="summary_large_image">
<meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
{% else %}
<meta name="twitter:card"  content="summary">
<meta name="twitter:image" content="https://res.cloudinary.com/louiy9obu/image/upload/v1610972500/letsgo_dprdjr.jpg">
{% endif %}

<meta name="twitter:site" content="@letisiapangataa">
<meta name="twitter:title" content="{{ page.title }}"> {% if page.description %}
<meta name="twitter:description" content="{{ page.meta_description }}"> {% else %}
<meta name="twitter:description" content="{{ page.content | strip_html | xml_escape | truncate: 200 }}"> {% endif %}


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NSKCM1SPDM"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-NSKCM1SPDM');
</script>


<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@800&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

<!-- end custom head snippets -->
