<!-- start custom head snippets -->
<link rel="icon" type="image/png" href="assets/images/favicon.png">

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@letisiapangataa">
<meta name="twitter:title" content="{{ page.title }}">
  {% if page.description %}
    <meta name="twitter:description" content="{{ page.meta_description }}">
  {% else %}
    <meta name="twitter:description" content="{{ page.content | strip_html | xml_escape | truncate: 200 }}">
  {% endif %}


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NSKCM1SPDM"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-NSKCM1SPDM');
</script>


<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@800&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

<!-- end custom head snippets -->
