---
layout: archive
---

<meta property="og:title" content="{{ page.title }}" />
<meta property="og:url" content="https://letisiapangataa.github.io" />
{% if page.description %}
<meta name="og:description" content="{{ page.meta_description }}"> {% else %}
<meta name="og:description" content="{{ page.content | strip_html | xml_escape | truncate: 200 }}"> {% endif %}
<meta property="og:image" content="https://res.cloudinary.com/louiy9obu/image/upload/v1610972500/letsgo_dprdjr.jpg" />
<meta property="og:type" content="website" />

{{ content }}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "The Latests" }}</h3> -->

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
