@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  }
}

.text-5xl {
  font-size: 3rem;
  line-height: 1.5;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 2;
}

.leading-snug {
    line-height: 1.8;
}

.leading-relaxed {
    line-height: 2;
}

.prose {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}